$fuente: 'Overpass', sans-serif;
$fuente-weight-resaltado: 700;
$fuente-grande: 1.6rem;
$fuente-regular: 1rem;
$fuente-chico: .8rem;
$bg-color-main: #9d5959;
$color-main: #000;
$color-secondary: #fff;